.container {
    background-color: #03a9fc;
    width: 100%;
    height: auto;
}

h1 {
    font-family: sans-serif;
    color: #fff;
    padding: 30px 20px;
}

button {
    width:80px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid #dffc03;
    color: #dffc03;
}